

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;;
}

html, body {
  height: 100%;
  width: 100%;
}
body{
    background: #d1d1d1;
}
    main{
      height: 100%;
      width: 100%;
      
      position: relative;
    }
    nav{
      background-color: rgb(0, 0, 255);
    color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    }

    nav h1{
    font-size: 1.8vw;
}

 input {
      padding: 0.8vw;
      font-size: 1vw;
      width: 250px;
      border: none;
      border-radius: 5px;
    }

    button {
      padding: 0.8vw 1.2vw;
      font-size: 1.2vw;
      margin-left: 8px;
      background: #000;
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
    }


 button:hover {
      background-color: #0056b3;
    }
   
   
.hero{
   display: flex;
   
   align-items: center;
   flex-direction: column;
   margin-top: 200px;
}
@media (max-width:500px) {
    nav{
        padding: 10px;
    }
    input{
        width: 100px;
    }
}